! Xft
Xft.autohint:    0
Xft.lcdfilter:   lcddefault
Xft.hintstyle:   hintfull
Xft.hinting:     1
Xft.antialias:   1
Xft.rgba:        rgb

! Font
URxvt.font:         xft: DejaVu Sans Mono:pixelsize=12
URxvt.letterSpace:  -1

! Scrollbar
URxvt.scrollBar:    false
